node_modules/
build/
dist/
generated/
static/
public/
scripts/
.next/
.out/
coverage/
scripts/
__mocks__/
__reports__/
*.config.js
*.generated.ts
*rc.js
jest.*.js
plopfile.js
server.js
tsconfig.json
next-env.d.ts

